/*========================================
 LINK TO GITHUB REPO: 
https://github.com/ylvayster/css-zen-garden
==========================================*/

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed|Source+Sans+Pro);

* {
 margin: 0;
}

/*========================================
            Base styles
==========================================*/

a:link {
    border-bottom: thin dotted rgb(203, 204, 204);
    color: rgb(203, 204, 204);
    text-decoration: none;
}

a:visited {
    color: rgb(9, 188, 167);
    text-decoration: underline;
}

a:hover {
    background-color: rgba(212, 226, 226, 0.8);
    border-bottom: none;
    color: black;
    text-decoration: none;
}

abbr {
    text-decoration: none;
}

.benefits, .explanation {
    background-color: rgba(255,255,255,0.8);
}

body {
    background-image: url(birdsonline.jpg);
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

footer{
    background-color: rgba(2, 131, 116, 0.55);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    text-align: center; 
}

footer a:link {
    border-bottom: none;
    color: rgb(255,255,255);
}

footer a:visited {
    color: rgb(0,0,0);
}

footer a:hover {
    background-color: rgba(166, 177, 177, 0.8);
    color: black;
}

h1 {
    font-size: 5em;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 0 0 0;
}

h2 {
    color: rgb(5, 167, 148);
    font-size: 2.5em;
    margin-top: 0;
}

header {
    text-align: right;
}

.requirements, .participation {
    background-image: url(birdstorm.jpg);
    background-position: bottom;
    background-size: auto;
    color: white;
}

.requirements p, .participation p {
    text-shadow: 1px 1px 9px rgba(218, 226, 226, 0.4);
}

.requirements a, .participation a {
    text-shadow: none;
} 

.sidebar {
    background-color: rgba(255,255,255,0.8);
}

.sidebar a:link, .summary a:link {
    border-bottom: thin dotted rgb(73, 81, 83);
    color: rgb(73, 81, 83);
    text-decoration: none;
}

.sidebar a:visited {
    color: rgb(7, 211, 187);
}

.sidebar a:hover {
    background-color: rgba(212, 226, 226, 0.8);
    border-bottom: none;
    color: black;
    text-decoration: none;
}

.sidebar a.designer-name {
    border-bottom: none;
    color: black;
    text-decoration: none;
}

.sidebar h3{
    color: rgb(2, 131, 116);
    margin-bottom: 5px;
    margin-top: 5px;
}

.sidebar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar ul li a{
    list-style: none;
    padding-left: 0;
}

.summary p{
    display: inline;
    font-size: 0.9em;
    font-style: italic;
    text-align: justify;   
}

.supporting{
    clear: both;
    font-size: 1.15em;
    line-height: 1.5;
}

.supporting h3 {
    margin: 0;
    padding: 8px 25px 2px 25px;
    font-size: 1.4em;
}

.supporting p {
    margin: 0;  
    padding: 10px 25px; 
}

.preamble {
    background-color: rgba(2, 131, 116, 0.55);
    box-shadow: 2px 2px 20px 10px rgba(80, 214, 197, 0.15);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: justify;
}

.preamble p{
    padding: 5px 0;
    text-shadow: 2px 2px 13px rgba(205, 244, 239, 0.3);
}

.requirements p:last-child{    
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
/*========================================
            Layout containers
==========================================*/

header{
    float: left;
    margin-left: 4%;
    padding: 20px 20px 0 50px;
    width: 40%;
}

.preamble {
    clear: both;
    margin: auto auto 30px auto;
    padding: 10px 25px;
    width: 56%;
}

.sidebar{
    float: right;
    margin-right: 20%;
    width: 17%;
}

.summary  {
    clear: both;
    margin: 7% auto 0 20%;
    padding: 0 0 10px 10px;
    width: 26%;
}

.supporting {
    float: left;
    margin-left: 20%;
    margin-right: 3%;
    width: 40%;
}

/*========================================
            Transitions
==========================================*/

.explanation, .participation, .benefits, .requirements {
    transition: 0.5s;
    transition-delay: 0.03s;
    transition-timing-function: linear;
}

.explanation:hover, .participation:hover, .benefits:hover, .requirements:hover {
    margin-left: -15%;
    padding: 0 0 0 15%;
    transition: 0.5s;
    transition-delay: 0.03s;
    transition-timing-function: linear;
}
